SENDGRID_SMTP_HOST=smtp.sendgrid.net
SENDGRID_SMTP_PORT=587
SENDGRID_SMTP_USER=apikey
SENDGRID_SMTP_PASSWORD=
SENDGRID_FROM_EMAIL=no-reply@tektonics.africa
SENDGRID_TO_EMAIL=info@tektonics.africa
SENDGRID_FROM_NAME="Tektonics Website"
SENDGRID_SUBJECT_PREFIX="Tektonics Website Inquiry"
